.register{
    width: 100vw;
    height: 900px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.3) 40%, rgba(0,0,0,.9) 100%), url('../../content/register.jpg');
    background-size: cover;
    position: relative;


    .top{
        .wrapper{
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo{
                height: 45px;
            }

            .loginButton{
                background-color: #e50914;
                border: none;
                color: white;
                border-radius: 3px;
                padding: 7px 17px;
                font-size: 16px;
                font-weight: 400;
                cursor: pointer;
                z-index: 99;
            }
        }
    }

    .container{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;

        h1{
            font-size: 64px;
            max-width: 800px;
            text-align: center;
        }

        h2{
            margin: 20px;
        }

        p{
            font-size: 20px;
        }

        .input-box{
            width: 660px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            height: 70px;
            border-radius: 5px;
            color: #333;

            

            .input-field{
                margin: 16px 0 20px;
    
                .input {
                    border: none;
                    // #5fa53f
                    height: 60px;
                    width: 440px;
                    color: black;
                    border-radius: 2px;
                    font-size: 26px;
                    box-sizing: border-box;
                    padding: 16px 20px 0;
            
            
                    &::placeholder {
                      color: #8c8c8c;
                      font-size: 6px;
                      font-weight: 300;
                    }
                  }
            
                  .field__input {
                    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #333);
            
                    // border-radius: 2px;
                    // border-color: gray;
            
                    -webkit-appearance: none;
                    -moz-appearance: none;
            
                    font-family: inherit;
                    font-size: inherit;
                  }
            
                  .field__input:focus::-webkit-input-placeholder {
                    color: var(--uiFieldPlaceholderColor);
                  }
            
                  .field__input:focus::-moz-placeholder {
                    color: var(--uiFieldPlaceholderColor);
                  }
            
                  .field {
                    --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
                    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1.5rem);
                    --uiFieldBorderColorActive: var(--fieldBorderColorActive, rgba(22, 22, 22, 1));
            
                    display: var(--fieldDisplay, inline-flex);
                    position: relative;
                    font-size: var(--fieldFontSize, 1rem);
                    // margin-bottom: 10px;
                  }
            
                  .field__input {
                    box-sizing: border-box;
                    padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft, 1rem);
                  }
            
                  .field__input:focus {
                    outline: none;
                  }
            
                  .field__input::-webkit-input-placeholder {
                    opacity: 0;
                    transition: opacity .2s ease-out;
                  }
            
                  .field__input::-moz-placeholder {
                    opacity: 0;
                    transition: opacity .2s ease-out;
                  }
            
                  .field__input:focus::-webkit-input-placeholder {
                    opacity: 1;
                    transition-delay: .2s;
                  }
            
                  .field__input:focus::-moz-placeholder {
                    opacity: 1;
                    transition-delay: .2s;
                  }
            
                  .field__label-wrap {
                    box-sizing: border-box;
                    pointer-events: none;
                    cursor: text;
                    // font-size: 14px;
            
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                  }
            
                  .field__label-wrap::after {
                    content: "";
                    box-sizing: border-box;
                    width: 100%;
                    height: 0;
                    opacity: 0;
            
                    position: absolute;
                    bottom: 0;
                    left: 0;
                  }
            
                  .field__input:focus ~ .field__label-wrap::after {
                    opacity: 1;
                  }
            
                  .field__label {
                    position: absolute;
                    left: var(--uiFieldPaddingLeft);
                    top: calc(55% - .5em);
            
                    line-height: 1;
                    font-size: var(--fieldHintFontSize, inherit);
                    font-weight: 400;
            
                    transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
                    will-change: bottom, opacity, font-size;
                  }
            
                  .field__input:focus ~ .field__label-wrap .field__label,
                  .field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label {
                    --fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);
            
                    top: var(--fieldHintTopHover, .25rem);
                  }
            
                  .field_v2 .field__label-wrap {
                    overflow: hidden;
                  }
            
                  .field_v2 .field__label-wrap::after {
                    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
                    transform: translate3d(-105%, 0, 0);
                    will-change: transform, opacity;
                    transition: transform .285s ease-out .2s, opacity .2s ease-out .2s;
                  }
            
                  .field_v2 .field__input:focus ~ .field__label-wrap::after {
                    transform: translate3d(0, 0, 0);
                    transition-delay: 0;
                  }
            
            
                  .field__label {
                    color: #8c8c8c;
                  }
                }

            .registerButton{
                flex: 3;
                width: 160px;
                padding: 0 26px;
                height: 100%;
                background-color: #e50914;
                border: none;
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
                color: white;
                font-size: 23px;
                font-weight: 400;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &:hover{
                    background-color: red;
                }
            }
        }
    }
}


.body-register{
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;

    .slice{
        height: 8px;
        width: 100vw;
        background-color: rgb(46, 46, 46);
    }

    .content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100vw;
     
        .leftSide{
            color: white;
            width: 575px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 50px 25px;

            h2{
                font-size: 52px;
                margin-bottom: 15px;
            }

            p{
                font-size: 28px;
            }
        }
        
        .rightSide{
            color: white;
            width: 575px;
            position: relative;
            margin: 0 25px;
            height: 530px;

            .imgKids{
                margin-top: 50px;
            }


            .imgTV{
                height: 400px;
                z-index: 99;
                position: absolute;
                top: 55px;

            }

            .videoTV{
                position: absolute;
                top: 138px;
                left: 70px;
                height: 219px;
            }

            .imgDevices{
                height: 410px;
                z-index: 99;
                position: absolute;
                top: 55px;
            }

            .videoDevices{
                position: absolute;
                top: 100px;
                left: 104px;
                height: 188px;
            }
        }
    }  
}
