.pass-loader {
    // background-color: var(--main-color);
    width: 100vw;
    height: 100%;
  
    .divider{
      border-top: 1px solid #e6e6e6;
      height: 0;
      width: 100%;
    }
  
    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
  
      .left {
        .logo {
          height: 45px;
          margin-top: 25px;
          margin-left: 50px;
        }
  
      }
  
      .right {
        margin-top: 25px;
        margin-right: 50px;
  
        a {
          text-decoration: none;
          color: #333;
          font-weight: 600;
          font-size: 19px;
        }
      }
    }
  

    .loader{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 90px;

      .wrapper-loader{
        max-width: 340px;
        padding: 30px 0 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .img-loader{
          margin-top: 120px;
          width: 260px;
          height: 90px;
          background: url(../../content/Devices.png) no-repeat 50% 50%;
          background-size: 260px;
        }

        .step-loader{
          font-size: 13px;
          line-height: 27px;
          color: #333;
          font-weight: 400;
        }

        .header-loader{
          font-size: 34px;
          color: #333333;
          font-weight: 600;
          margin-bottom: 13px;
        }

        .text-loader{
          font-size: 19px;
          color: #333;

        }

        .btn-loader{
          font-size: 24px;
          color: white;
          background-color: #e50914;
          border: none;
          padding: 20.5px 48px;
          border-radius: 4px;
          width: 100%;
          margin-top: 24px;

          &:hover{
            background-color: red;
          }
        }

      }
    }
    

  
    .footer{
      background-color: #f3f3f3;
    }
  }