.personalList{
    background-color: var(--main-color);

    .qwerty{
        height: 70vh;
        padding: 200px 50px;
        box-sizing: border-box;
        // display: flex;
        // max-width: 1000px !important;

        .slick-prev, .slick-next{
            color: #fff;
            width: 50px;
            height: 240px;
            background-color: rgb(22, 22, 22, 0.5);
            position: absolute;
            z-index: 99;
            top: 0;
            bottom: 0;
            cursor: pointer;
        }

        .item{
            height: 80px !important;
            width: 200px !important;
            background-color: red;
        }

    
    }

    .wrapper-list{
        padding: 80px 4% 10px;
        min-height: 70vh;


        h2 {
            color: #fff;
            font-size: 30px;
            font-weight: 400;
            line-height: 34px;
            margin: 40px 0 10px;
        }

        .block{
            display: flex;
            flex-wrap: wrap;
        }
    }
}