.plans {
  // background-color: var(--main-color);
  width: 100vw;
  height: 100%;

  .divider{
    border-top: 1px solid #e6e6e6;
    height: 0;
    width: 100%;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .left {
      .logo {
        height: 45px;
        margin-top: 25px;
        margin-left: 50px;
      }

    }

    .right {
      margin-top: 25px;
      margin-right: 50px;

      a {
        text-decoration: none;
        color: #333;
        font-weight: 600;
        font-size: 19px;
      }
    }
  }

  .wrapper-plan {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .conditions {
      width: 70vw;

      .step{
        font-size: 14px;
        line-height: 27px;
        color: #333;
        font-weight: 400;
        padding-bottom: 5px;
      }

      h1 {
        margin-bottom: 15px;
      }


      ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        // align-items: center;

        li {
          display: flex;
          align-items: center;
          height: 30px;
          font-size: 17px;
          margin: 2px 0;
          box-sizing: border-box;

          .icon {
            color: #e50914;
            padding-right: 5px;
            font-size: 27px;
          }

        }
      }
    }

    .planWrapper {
      width: 70vw;
      display: flex;
      justify-content: flex-end;


      .planBox {
        margin: 0 1.7vw;
        position: relative;
        width: 130px;
        font-size: 18px;
        font-weight: 600;
        height: 120px;
        border-radius: 3px;
        background-color: #e50914;
        color: white;
        cursor: pointer;

        span {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .planBox::after {
        background-color: #e50914;
        bottom: -86px;
        content: '';
        display: block;
        height: 40px;
        left: 49%;
        margin-left: -20px;
        position: relative;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 40px;
        z-index: -1;
      }

      .opacity-100 {
        opacity: 100%;
      }

      .opacity-60 {
        opacity: 60%;
      }
    }

    .tableWrapper {
      width: 70vw;
    }

    .text {
      width: 70vw;
      color: gray;
      font-size: 13px;
      padding-right: 12vw;
      box-sizing: border-box;

      span{
        color: #0071eb;

        &:hover{
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .subscribe{
      font-size: 24px;
      background-color: #e50914;
      border: none;
      color: white;
      padding: 18px 170px;
      font-weight: 400;
      margin: 40px 0 50px 0;
      border-radius: 5px;
      cursor: pointer;

      &:hover{
        background-color: red;
      }
    }
  }

  .footer{
    background-color: #f3f3f3;
  }
}