extends container

block content
    img.p(src='https://ci3.googleusercontent.com/proxy/9A3a1TA6Bh0RAmVqtdE5P9Z8SdpMQsxFBej9freij52Jz3U4dG4idTHySBCwWROmaNIXVmM2bO1Ewgzn23JDu7yUnw=s0-d-e1-ft#https://assets.nflxext.com/us/email/gem/nflx.png' alt='' width='24px' height='44px')
    h1.header.p Password updated!
    .content
        p.p Hi #{userName},
        p.p
            | We&apos;ve changed your password, as you asked. To view or change your account information,
            span visit your Account.
        br
        p.p
            | If you did not ask to change your password we are here to help secure your account, just
            span contact us.
        h4.p The Netflix team
        .p
            .line