doctype html
html
    head
    body
        div
            | Привіт! Вас вітає адміністрація сайту "Пиячок"!
        div
            block content
        div
            | Best regards
            br
            a(href=frontendURL) Visit our website