.personalItem{
    margin-bottom: 40px;

    .clear_icon{
        display: none;
        position: absolute;
    }

    .item{
        margin: 20px 20px 0;
        height: 240px;
        width: 170px;
        //cursor: pointer;
        position: relative;

        &:hover{
            .clear_icon{
                display: block;
                color: white;
                font-size: 25px;
                top: 3px;
                right: 3px;
                z-index: 20;
            }
        }
    }

    p{
        color: white;
        //margin: 0 20px;
        cursor: pointer;
    }
}