.listItem {
  width: 170px;
  height: 240px;
  background-color: var(--main-color);
  margin-right: 10px;
  overflow: hidden;
  cursor: pointer;
  color: white;

  .img-info{
    display: block;
    position: fixed;
    color: white;
    bottom: 4px;
    width: 170px;
    height: 40px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s;
    &:hover {
      transform: scale(1.1);
      z-index: 4;
    }
  }

  video {
    width: 100%;
    height: 140px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}