@import "../../app.scss";

.navbar {
  width: 100%;
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);

  &.scrolled {
    background-color: var(--main-color);

  }

  .container {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    .left {
      display: flex;
      align-items: center;

      img {
        height: 45px;
        margin-right: 40px;

        @include mobile {
          display: none;
        }
      }

      span {
        margin-right: 20px;
        min-width: 120px;
        position: relative;
        cursor: pointer;

        @include tablet {
          display: none;
        }

        &.navbarMainLinks {
          @include tablet {
            display: block;
          }
        }
      }

      small {
        display: flex;
        justify-content: center;
        align-items: center;
        top: -5px;
        right: -15px;
        height: 16px;
        width: 16px;
        font-size: 10px;
        position: absolute;
        border-radius: 50%;
        margin: 0;
        padding: 0;
        text-align: center;
        font-weight: 500;
        color: white;
        background-color: #e50914;
      }
    }

    .right {
      display: flex;
      align-items: center;

      .search_icon {

        .custom-search {
          margin-right: 7px;
          right: 20px;
          top: 1px;
        }

        #express-form-typeahead {
          background-color: transparent;
          background-image: url('../../content/search-icon.png');
          background-position: 5px center;
          background-repeat: no-repeat;
          background-size: 20px 20px;
          border: none;
          cursor: pointer;
          height: 37px;
          margin: 3px 0;
          padding: 0 0 0 34px;
          position: relative;
          -webkit-transition: width 400ms ease, background 400ms ease;
          transition: width 400ms ease, background 400ms ease;
          width: 0;
        }

        #express-form-typeahead:focus {
          // background-color: #fff;
          border-bottom: 2px solid white;
          cursor: text;
          outline: 0;
          width: 220px;
        }

        .search-btn {
          display: none;
        }

        input {
          color: white;
          font-size: 15px;

        }

        input[type="search"] {
          -webkit-appearance: textfield;
        }
      }

      .icon {
        margin: 0 15px;
        cursor: pointer;
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
      }

      .profile_menu {
        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;
        }

        span {
          padding: 10px;
          cursor: pointer;
        }

        a {
          padding-top: 10px;
        }

        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
        }
      }
    }

  }
}


.search {
  width: 100%;
  height: 600px;
  background-color: #0b0b0b;
  position: fixed;
  z-index: 999;
}