.set-pass {
    // background-color: var(--main-color);
    width: 100vw;
    height: 100%;
  
    .divider{
      border-top: 1px solid #e6e6e6;
      height: 0;
      width: 100%;
    }
  
    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
  
      .left {
        .logo {
          height: 45px;
          margin-top: 25px;
          margin-left: 50px;
        }
  
      }
  
      .right {
        margin-top: 25px;
        margin-right: 50px;
  
        a {
          text-decoration: none;
          color: #333;
          font-weight: 600;
          font-size: 19px;
        }
      }
    }
  

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .wrapper {
          margin: 50px 0;
          width: 440px;

        
          #warning {
            width: 100%;
            // height: 80px;
            margin: 10px 0 20px;
            border-radius: 2px;
            background-color: #ffa00a;
            color: white;
            font-size: 16px;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon{
                margin-left: 20px;
                font-size: 35px;
            }

            p{
                padding: 20px 10px;
            }
          }
        

          .step{
            width: 100%;
            font-size: 14px;
            line-height: 27px;
            color: #333;
            font-weight: 400;
            padding-bottom: 5px;
          }

          .header{
            font-size: 33px;
            color: #333333;
            font-weight: 500;
            margin-bottom: 13px;
          }

          .row{
            font-size: 19px;
            color: #333;

            p{
              margin-top: 10px;
            }
          }

          .email-field{
            margin: 16px 0 20px;
            color: #333;
            font-size: 17px;

          }

          .input-field{
            margin: 16px 0 20px;

            .input {
                border: 1px solid #333;
                // #5fa53f
                height: 60px;
                width: 440px;
                color: black;
                border-radius: 2px;
                font-size: 26px;
                box-sizing: border-box;
                padding: 16px 20px 0;
        
        
                &::placeholder {
                  color: #8c8c8c;
                  font-size: 6px;
                  font-weight: 300;
                }
              }
        
              .field__input {
                --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #333);
        
                border-radius: 2px;
                border-color: gray;
        
                -webkit-appearance: none;
                -moz-appearance: none;
        
                font-family: inherit;
                font-size: inherit;
              }
        
              .field__input:focus::-webkit-input-placeholder {
                color: var(--uiFieldPlaceholderColor);
              }
        
              .field__input:focus::-moz-placeholder {
                color: var(--uiFieldPlaceholderColor);
              }
        
              .field {
                --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
                --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1.5rem);
                --uiFieldBorderColorActive: var(--fieldBorderColorActive, rgba(22, 22, 22, 1));
        
                display: var(--fieldDisplay, inline-flex);
                position: relative;
                font-size: var(--fieldFontSize, 1rem);
                margin-bottom: 10px;
              }
        
              .field__input {
                box-sizing: border-box;
                padding: var(--fieldPaddingTop, 1.25rem) var(--uiFieldPaddingRight) var(--fieldPaddingBottom, .5rem) var(--uiFieldPaddingLeft, 1rem);
              }
        
              .field__input:focus {
                outline: none;
              }
        
              .field__input::-webkit-input-placeholder {
                opacity: 0;
                transition: opacity .2s ease-out;
              }
        
              .field__input::-moz-placeholder {
                opacity: 0;
                transition: opacity .2s ease-out;
              }
        
              .field__input:focus::-webkit-input-placeholder {
                opacity: 1;
                transition-delay: .2s;
              }
        
              .field__input:focus::-moz-placeholder {
                opacity: 1;
                transition-delay: .2s;
              }
        
              .field__label-wrap {
                box-sizing: border-box;
                pointer-events: none;
                cursor: text;
        
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
              }
        
              .field__label-wrap::after {
                content: "";
                box-sizing: border-box;
                width: 100%;
                height: 0;
                opacity: 0;
        
                position: absolute;
                bottom: 0;
                left: 0;
              }
        
              .field__input:focus ~ .field__label-wrap::after {
                opacity: 1;
              }
        
              .field__label {
                position: absolute;
                left: var(--uiFieldPaddingLeft);
                top: calc(50% - .5em);
        
                line-height: 1;
                font-size: var(--fieldHintFontSize, inherit);
        
                transition: top .2s cubic-bezier(0.9, -0.15, 0.1, 1.15), opacity .2s ease-out, font-size .2s ease-out;
                will-change: bottom, opacity, font-size;
              }
        
              .field__input:focus ~ .field__label-wrap .field__label,
              .field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label {
                --fieldHintFontSize: var(--fieldHintFontSizeFocused, .75rem);
        
                top: var(--fieldHintTopHover, .25rem);
              }
        
              .field_v2 .field__label-wrap {
                overflow: hidden;
              }
        
              .field_v2 .field__label-wrap::after {
                border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
                transform: translate3d(-105%, 0, 0);
                will-change: transform, opacity;
                transition: transform .285s ease-out .2s, opacity .2s ease-out .2s;
              }
        
              .field_v2 .field__input:focus ~ .field__label-wrap::after {
                transform: translate3d(0, 0, 0);
                transition-delay: 0;
              }
        
        
              .field__label {
                color: #8c8c8c;
              }

              
              .error{
                color: #b92d2b;
                font-size: 13px;
                margin-top: 2px;
                // display: none;
              }

            //   textarea:focus + .error, input:focus + .error{
            //     display: block
            // }
          }

          .help{
            a{
                text-decoration: none;
                color: #0071eb;
                font-weight: 400;

            }
          }

          .checkbox-block{
            display: flex;
            align-items: center;

            input[type="checkbox"] {
              position: relative;
              width: 25px;
              height: 25px;
              color: #333;
              background: white;;
              border: 1px solid #333333;
              border-radius: 2px;
              appearance: none;
              outline: 0;
              cursor: pointer;
              transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);

              &::before {
                position: absolute;
                content: '';
                display: block;
                top: 0;
                left: 6px;
                width: 6px;
                height: 14px;
                border-style: solid;
                border-color: #0071eb;
                border-width: 0 5px 5px 0;
                transform: rotate(45deg);
                opacity: 0;
              }

              &:checked {
                color: gray;
                background: white;
                border: 1px solid #737373;

                &::before {
                  opacity: 1;
                }

                ~ label::before {
                  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
              }
            }

            label{
              margin-left: 10px;
              font-size: 16px;
              font-weight: 300;
            }
          }
      
          .next-btn{
            font-size: 24px;
            background-color: #e50914;
            border: none;
            color: white;
            padding: 18px 195px;
            font-weight: 400;
            margin: 24px 0 50px 0;
            border-radius: 5px;
            cursor: pointer;
        
            &:hover{
              background-color: red;
            }
          }
        }
    }


    

  
    .footer{
      background-color: #f3f3f3;
    }
  }